html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: white; /* Default background */
    color: black; /* Default text color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

#navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.1); /* Transparan saat di-scroll */
    backdrop-filter: blur(0px); /* Blur efek */
    color: white; /* Ubah teks menjadi putih */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
}

#navbar.scrolled a {
    color: white;
}

.nav-link {
    color: inherit; /* Warna default dari navbar */
}

.nav-link:hover {
    color: #1d4ed8; /* Warna biru saat hover */
}

/* Mobile Menu Styles */
#mobile-menu a {
    color: gray;
}

/* Media query untuk layar kecil (mobile) */
@media (max-width: 768px) {
    #navbar.scrolled {
        background-color: rgba(
            0,
            0,
            0,
            0.5
        ); /* Background transparan gelap saat di-scroll */
        color: white;
    }

    #navbar.scrolled a {
        color: ;
    }

    #mobile-menu a {
        color: white; /* Warna teks putih untuk konsistensi */
    }
}
