html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: transparent; /* Default background */
    color: white; /* Default text color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

#navbar.scrolled {
    background: linear-gradient(
        to bottom right,
        #000000,
        #070335,
        #04041c
    ); /* Gradient background */
    backdrop-filter: blur(10px); /* Blur effect */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar.scrolled a {
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}
#navbar.scrolled a:hover {
    color: #1d4ed8; /* Warna biru saat hover */
    background-color: white; /* Latar belakang putih saat hover */
    border-radius: 5px; /* Membuat sudut membulat */
}

.nav-link {
    color: inherit; /* Warna default dari navbar */
}

.nav-link:hover {
    color: #1d4ed8; /* Warna biru saat hover */
}

.nav-link.scrolled:hover {
    color: #1d4ed8;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Mobile Menu Styles */
#mobile-menu a {
    color: gray;
}

/* Media query untuk layar kecil (mobile) */
@media (max-width: 768px) {
    #navbar.scrolled {
        background-color: rgba(
            0,
            0,
            0,
            0.5
        ); /* Background transparan gelap saat di-scroll */
        color: white;
    }

    #navbar.scrolled a {
        color: ;
    }

    #mobile-menu a {
        color: white; /* Warna teks putih untuk konsistensi */
    }
}
